@tailwind base;
@tailwind components;
@tailwind utilities;

/* leaflet css */
@import "~leaflet/dist/leaflet.css";

.navbar-links {
  @apply text-gray-300 text-[40px];
}
.banner {
  background-image: url(../public/Assets/images/JFj.gif);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 55%;
}
.Service_type {
  list-style-type: square;
  padding: 10px;
}
::marker {
  color: red;
  font-size: 2rem;
}
.Service_type li {
  margin: 0px 1rem 0.5rem 22px;
}

.Header {
  width: 100vw;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  .fade-in {
    animation: fadeIn 4s ease-in-out;
  }
}

.about_Image {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.scroll_text {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.animate {
  opacity: 1;
  transform: translateX(0);
}

.Animate {
  animation-name: slideFromBottom, fadeInFromTop;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

@keyframes slideFromBottom {
  from {
    opacity: 0;
    transform: translateY(130px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInFromTop {
  from {
    opacity: 0;
    transform: translateY(-120px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.Animate-out {
  animation-name: fade-out;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.flashing-text {
  animation: flash 2s infinite alternate; /* Change animation duration as needed */
}

@keyframes flash {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.label {
  @apply w-fit uppercase peer-focus:transition-all  duration-200 peer-focus:top-[-4rem] text-slate-300 text-xs relative top-[-2rem] left-[1rem];
}
.input {
  @apply w-full md:max-w-[70%] border-t-0 bg-transparent border-l-0 border-r-0 appearance-none  border-gray-500   border;
}

.inputsContainer {
  @apply w-full flex flex-col justify-center items-center;
}

.trackBg {
  background-image: url(../public/Assets/images/delivery.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.RegisterBg {
  background-image: url(../public/Assets/images/plane.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.glass-container {
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(5px);
}

.icon {
  @apply text-gray-400 text-[1.4rem]  group-hover:animate-spin;
}

.loading-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-left-color: #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.overlay-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 30;
}

.invoice-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  max-width: 400px;
  width: 100%;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.close-button {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
}

.close-button:hover {
  background-color: #2980b9;
}
